
{% extends 'BackOfficebackBundle::Layout.html.twig' %}
{% block body -%}
    <h1>Demandeextrait creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('demandeextrait') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
